{% macro baIcon(icon, class, title) %}
	<i class="icon acp-icon {% if class %}acp-icon-{{ class }} {% endif %}fa-{{ icon }} fa-fw" title="{{ lang(title) }}"></i>
{% endmacro %}

<h1>{{ lang('BOARD_ANNOUNCEMENTS_SETTINGS') }}</h1>

<p>{{ lang('BOARD_ANNOUNCEMENTS_SETTINGS_EXPLAIN') }}</p>

<form id="board_announcement_settings" method="post" action="{{ U_ACTION }}" data-ajax="true">
	<fieldset>
		<legend>{{ lang('GENERAL_OPTIONS') }}</legend>
		<dl>
			<dt><label for="board_announcements_enable_all">{{ lang('BOARD_ANNOUNCEMENTS_ENABLE_ALL') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" id="board_announcements_enable_all" name="board_announcements_enable_all" value="1"{% if BOARD_ANNOUNCEMENTS_ENABLED_ALL %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="board_announcements_enable_all" value="0"{% if not BOARD_ANNOUNCEMENTS_ENABLED_ALL %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<p class="quick">
			<input type="submit" id="board_announcements_enable_all_submit" name="board_announcements_enable_all_submit" class="button2" value="{{ lang('SUBMIT') }}">
			<input type="hidden" name="action" value="settings">
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_DESCRIPTION') }}</th>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_SHOW_WHERE') }}</th>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_SHOW_TO') }}</th>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_CREATED_DATE') }}</th>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_ENABLED') }}</th>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_EXPIRY_DATE') }}</th>
		<th>{{ lang('BOARD_ANNOUNCEMENTS_TH_EXPIRED') }}</th>
		<th>{{ lang('ACTION') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for ba in announcements %}
		<tr>
			<td>{{ ba.DESCRIPTION }}</td>
			<td>
				{% if ba.LOCATIONS is empty %}
					{{ lang('BOARD_ANNOUNCEMENTS_EVERYWHERE') }}
				{% else %}
					{% set has_index = constant('\\phpbb\\boardannouncements\\ext::INDEX_ONLY') in ba.LOCATIONS %}
					{% set has_forums = ba.LOCATIONS|filter(v => v > 0)|length > 0 %}
					{% if has_index and has_forums %}
						{{ lang('BOARD_ANNOUNCEMENTS_INDEX_PAGE') }}, {{ lang('BOARD_ANNOUNCEMENTS_FORUMS') }}
					{% elseif has_index %}
						{{ lang('BOARD_ANNOUNCEMENTS_INDEX_PAGE') }}
					{% elseif has_forums %}
						{{ lang('BOARD_ANNOUNCEMENTS_FORUMS') }}
					{% endif %}
				{% endif %}
			</td>
			<td>{% if ba.USERS == constant('\\phpbb\\boardannouncements\\ext::ALL') %}
					{{ lang('BOARD_ANNOUNCEMENTS_EVERYONE') }}
				{% elseif ba.USERS == constant('\\phpbb\\boardannouncements\\ext::MEMBERS') %}
					{{ lang('G_REGISTERED') }}
				{% elseif ba.USERS == constant('\\phpbb\\boardannouncements\\ext::GUESTS') %}
					{{ lang('G_GUESTS') }}
				{% endif %}
			</td>
			<td>{{ ba.CREATED_DATE ? ba.CREATED_DATE|date(constant('\\phpbb\\boardannouncements\\ext::DATE_FORMAT')) : '' }}</td>
			<td>{{ ba.S_ENABLED ? _self.baIcon('check', 'settings', 'YES') : _self.baIcon('times', 'delete', 'NO') }}</td>
			<td>{{ ba.EXPIRY_DATE ? ba.EXPIRY_DATE|date(constant('\\phpbb\\boardannouncements\\ext::DATE_FORMAT')) : '' }}</td>
			<td>{{ ba.S_EXPIRED ? lang('YES') : lang('NO') }}</td>
			<td class="actions">
				<span class="up-disabled" style="display:none;">{{ ICON_MOVE_UP_DISABLED }}</span>
				<span class="up"><a href="{{ ba.U_MOVE_UP }}" data-ajax="row_up">{{ ICON_MOVE_UP }}</a></span>
				<span class="down-disabled" style="display:none;">{{ ICON_MOVE_DOWN_DISABLED }}</span>
				<span class="down"><a href="{{ ba.U_MOVE_DOWN }}" data-ajax="row_down">{{ ICON_MOVE_DOWN }}</a></span>
				<a href="{{ ba.U_EDIT }}">{{ ICON_EDIT }}</a> <a href="{{ ba.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="8" style="text-align: center;">{{ lang('BOARD_ANNOUNCEMENTS_EMPTY') }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<form id="quick_add_board_announcements" method="post" action="{{ U_ACTION_ADD }}">
	<fieldset class="quick">
		<input class="button2" type="submit" value="{{ lang('BOARD_ANNOUNCEMENTS_ADD') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>
