{% INCLUDECSS '@phpbb_boardannouncements/boardannouncements.css' %}
<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ lang('BOARD_ANNOUNCEMENTS_SETTINGS') }}</h1>

<p>{{ lang('BOARD_ANNOUNCEMENTS_SETTINGS_EXPLAIN') }}</p>

<script>
	var form_name = 'add_board_announcements';
	var text_name = 'board_announcements_text';
	var load_draft = false;
	var upload = false;
	var imageTag = false;
</script>

{% if ERRORS %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERRORS }}</p>
	</div>
{% endif %}

<form id="add_board_announcements" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('BOARD_ANNOUNCEMENTS_OPTIONS') }}</legend>
		<dl>
			<dt><label for="board_announcements_enabled">{{ lang('BOARD_ANNOUNCEMENTS_ENABLE') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" id="board_announcements_enabled" name="board_announcements_enabled" value="1"{% if BOARD_ANNOUNCEMENTS_ENABLED %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="board_announcements_enabled" value="0"{% if not BOARD_ANNOUNCEMENTS_ENABLED %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="board_announcements_dismiss">{{ lang('BOARD_ANNOUNCEMENTS_DISMISS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" id="board_announcements_dismiss" name="board_announcements_dismiss" value="1"{% if BOARD_ANNOUNCEMENTS_DISMISS %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="board_announcements_dismiss" value="0"{% if not BOARD_ANNOUNCEMENTS_DISMISS %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="board_announcements_users">{{ lang('BOARD_ANNOUNCEMENTS_USERS') ~ lang('COLON') }}</label></dt>
			<dd>
				<select name="board_announcements_users" id="board_announcements_users">{{ S_BOARD_ANNOUNCEMENTS_USERS }}</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="board_announcements_locations">{{ lang('BOARD_ANNOUNCEMENTS_LOCATIONS') ~ lang('COLON') }}</label><br><span>{{ lang('BOARD_ANNOUNCEMENTS_LOCATIONS_EXPLAIN') }}</span></dt>
			<dd>
				<select id="board_announcements_locations" name="board_announcements_locations[]" size="8" multiple="multiple">
					{% for locations in BOARD_ANNOUNCEMENTS_LOCATIONS %}
						<option value="{{ locations.forum_id }}"{% if locations.selected %} selected="selected"{% endif %}>
							{{ locations.padding ~ locations.forum_name}}
						</option>
					{% endfor %}
				</select>
			</dd>
		</dl>

	</fieldset>

	{% if BOARD_ANNOUNCEMENTS_PREVIEW %}
		<fieldset>
			<legend>{{ lang('BOARD_ANNOUNCEMENTS_PREVIEW') }}</legend>
			<div class="phpbb_announcement"{% if BOARD_ANNOUNCEMENTS_BGCOLOR %} style="background-color:#{{ BOARD_ANNOUNCEMENTS_BGCOLOR }}"{% endif %}>{{ BOARD_ANNOUNCEMENTS_PREVIEW }}</div>
		</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('BOARD_ANNOUNCEMENTS_TEXT') }}</legend>
		<dl>
			<dt><label for="board_announcements_description">{{ lang('BOARD_ANNOUNCEMENTS_DESC') ~ lang('COLON') }}</label><br><span>{{ lang('BOARD_ANNOUNCEMENTS_DESC_EXPLAIN') }}</span></dt>
			<dd>
				<input name="board_announcements_description" type="text" id="board_announcements_description" size="20" maxlength="200" value="{{ BOARD_ANNOUNCEMENTS_DESC }}">
			</dd>
		</dl>
		<dl>
			<dt><label for="board_announcements_expiry">{{ lang('BOARD_ANNOUNCEMENTS_EXPIRY') ~ lang('COLON') }}</label><br><span>{{ lang('BOARD_ANNOUNCEMENTS_EXPIRY_EXPLAIN') }}</span></dt>
			<dd>
				<input name="board_announcements_expiry" type="text" id="board_announcements_expiry" value="{{ BOARD_ANNOUNCEMENTS_EXPIRY }}" size="20" maxlength="25" placeholder="{{ "now"|date(constant('\\phpbb\\boardannouncements\\ext::DATE_FORMAT')) }}">
			</dd>
		</dl>
		<dl>
			<dt><label for="board_announcements_bgcolor">{{ lang('BOARD_ANNOUNCEMENTS_BGCOLOR') ~ lang('COLON') }}</label><br><span>{{ lang('BOARD_ANNOUNCEMENTS_BGCOLOR_EXPLAIN') }}</span></dt>
			<dd>
				<input name="board_announcements_bgcolor" type="text" id="board_announcements_bgcolor" value="{{ BOARD_ANNOUNCEMENTS_BGCOLOR }}" size="6" maxlength="6" {% if BOARD_ANNOUNCEMENTS_BGCOLOR %}style="border-right:20px solid #{{ BOARD_ANNOUNCEMENTS_BGCOLOR }}"{% endif %}>
			</dd>
		</dl>

		<br>

		{% include 'acp_posting_buttons.html' %}

		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-color-palette="v" data-height="12" data-width="15" data-bbcode="true"></dt>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">
				<textarea name="board_announcements_text" rows="10" cols="60" style="width: 95%;" data-bbcode="true">{{ BOARD_ANNOUNCEMENTS_TEXT }}</textarea>
			</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 5px;">
				{% if S_BBCODE_ALLOWED %}
					<label><input type="checkbox" class="radio" name="disable_bbcode"{% if S_BBCODE_DISABLE_CHECKED %} checked="checked"{% endif %}> {{ lang('DISABLE_BBCODE') }}</label>
				{% endif %}
				{% if S_SMILIES_ALLOWED %}
					<label><input type="checkbox" class="radio" name="disable_smilies"{% if S_SMILIES_DISABLE_CHECKED %} checked="checked"{% endif %}> {{ lang('DISABLE_SMILIES') }}</label>
				{% endif %}
				{% if S_LINKS_ALLOWED %}
					<label><input type="checkbox" class="radio" name="disable_magic_url"{% if S_MAGIC_URL_DISABLE_CHECKED %} checked="checked"{% endif %}> {{ lang('DISABLE_MAGIC_URL') }}</label>
				{% endif %}
			</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 10px;"><strong>{{ lang('OPTIONS') ~ lang('COLON') }} </strong>{{ BBCODE_STATUS }} :: {{ IMG_STATUS }} :: {{ URL_STATUS }} :: {{ SMILIES_STATUS }}</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="submit" name="preview" value="{{ lang('PREVIEW') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<script>
	const textarea = document.querySelector("textarea[name='board_announcements_text']");
	textarea.addEventListener("select", (e) => storeCaret(e.target));
	textarea.addEventListener("click", (e) => storeCaret(e.target));
	textarea.addEventListener("keyup", (e) => storeCaret(e.target));
	textarea.addEventListener("focus", () => initInsertions());
</script>
